
.headerBg {
    position: absolute;
    top: 0;
    background: rgb(227, 247, 229);
    background: linear-gradient(180deg, rgba(227, 247, 229,.7) 0%, rgba(255,255,255,1) 70%);
    min-height: 500px;
    z-index: -1;
}