.feedback {
    background: url("../../images/bg-feedback.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__body {
        background-color: rgba(0,0,0, .5);
    }
}