.tag-item {
    padding: 4px 16px;
    border-radius: 4px;
    background: var(--primary-color);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 12px;
    margin-bottom: 8px;
    cursor: default;
}