.icon {
    transition: .2s;
    cursor: pointer;
    padding: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    &:hover {
        color: white;
        border-radius: 50%;
        background-color: var(--secondary-color);
        margin-top: -2px;
    }
    &:active {
        margin-top: -1px;
    }
}