.icon {
    transition: .2s;
    cursor: pointer;
    padding: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    &:hover {
        color: white;
        border-radius: 50%;
        background-color: var(--secondary-color);
        margin-top: -2px;
    }
    &:active {
        margin-top: -1px;
    }
}

.item {
    .details {
        cursor: pointer;
        opacity: 0;
        transition: .2s;
        transform: translateY(30%);
        z-index: -1;
    }
    .group {
        cursor: default;
        position: relative;
        z-index: 2;
    }
    &:hover {
        .details {
            opacity: 1;
            transform: translateY(0);
        }
    }
}