
/* form starting stylings ------------------------------- */
.input-group 			  { 
  position:relative; 
}

.checkout {
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  padding: 12px 60px;
  transition: .2s;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  width: 100%;
  &:hover {
      transform: translateY(-2px);
  }
  &:active {
      transform: translateY(-1px);
  }
}

.checkout-page {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
}