.my-button {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 8px 18px;
    &.lg {
        padding: 16px 48px;
    }
    &.sm {
        padding: 4px 12px;
    }
    &:hover {
        box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
        transform: scale(1.05);
    }
    &:active {
        transform: scale(1);
    }
}