.custom-drop-down {
    button {
        color: black !important;
        background-color: white !important;
        border-radius: 4px;
        border: 1px solid black !important;
        padding: 4px 16px;
        &:hover {
            border: 1px solid black !important;
        }
        &:active {
            border: 1px solid black !important;
        }
    }
    a {
        &:active {
            background-color: var(--primary-color) !important;
        }
    }
}

.filter {
    &__item {
        border-radius: 2px;
        margin: 0 12px;
        background-color: var(--primary-color);
        color: white;
        font-weight: 600;
        padding: 4px 16px;
        font-size: 0.8rem;
        cursor: pointer;
        .icon {
            margin-left: 4px;
        }
    }
}