body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-color: rgb(48, 105, 75);
  --secondary-color: rgb(74,37,17);
  --primary-light-color: rgb(116,186,37);
}

.text-primary-color {
  color: var(--primary-color) !important;
}

.text-secondary-color {
  color: var(--secondary-color)!important;
}
.text-primary-light-color {
  color: var(--primary-light-color)!important;
}

.bg-primary-color {
  background-color: var(--primary-color)!important;
}

.bg-secondary-color {
  background-color: var(--secondary-color)!important;
}
.bg-primary-light-color {
  background-color: var(--primary-light-color)!important;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--primary-color) !important;
  border-bottom: var(--primary-color) !important;
}
